.product-main-con{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.product-main-con .product-con{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

}
.product-main-con .product-con .product{
    border: 1px solid #ddd;
    padding: 20px;
}
.product-main-con .product-con .product img{
     width: 160px;
     height: 160px;
}
.pagination-con .pagination{
     display: flex;
     justify-content: center;
     padding: 10px 30px;
}
.pagination-con .pagination span{
     border: 1px solid #ddd;
     padding: 5px 10px;
     margin: 4px;
     cursor: pointer;
     font-size: 11px;
     line-height: 24px;
}
.pagination-con .pagination span.active{
    background-color: #eaeaea;
}